<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body >

    <header class="menu-superior" id="menu-superior">
        <div class="btn-menu">
            <i class='bx bx-menu' id="btn-menu"></i>
        </div>

        <div class="header_icons">
        <div >
             <a href="#"><i class='bx bx-plus icon'></i>
             <span>New</span>
            </a> 
            </div>
            <div>
                <a href="#"> <i class='bx bx-search-alt-2 icon' ></i></i>
                <span>Search</span>
               </a> 
               </div>
               <div>
                <a href="#">  <i class='bx bx-image-alt icon'></i></i></i>
                <span>Thumbnails</span>
               </a> 
               </div>
               <div>
                <a href="#">   <i class='bx bx-list-check icon' ></i>
                <span>List Views</span>
               </a> 
               </div>
               
               
            
             <i class="bx bxs-bell bx-tada icon"></i>
            </div>
        </div>
    </header>
 
</body>
</html>