 <style>
    .move-to-left {
  transform: translateX(-400px);
}
.move-to-left-partly {
  transform: translateX(-200px);
}
.sidebar {
  height: 100%;
  width: 400px;
  position: fixed;
  top: 3rem;
  z-index: 1;
  right: -400px;
  background-color: #FFF;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.4);
  transition: transform .7s ease-in-out;
} 
 
.container-liner{
  margin-left:1rem;
}
.sidebar-tab {
  height: 100%;
  width: 2rem;
  position: fixed;
  top: 3rem;
  z-index: 1;
  right: 0;
  background-color: #FFF;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.5);
  transition: transform .7s ease-in-out;
}
#sidebar-tab-text{ 
    width: 400px;
}
.vertical-text {
	transform: rotate(90deg);
	transform-origin: left 2rem;
  vertical-align:middle;
}
.arrow {
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  position: relative;
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
  width: 32px;
  height: 32px;
  z-index: 1;
}
.arrow:after, .arrow:before {
  content: "";
  box-sizing: border-box;
  display: block;
  position: absolute;
  transition: all 0.25s ease-in-out;
  border-radius: 10px;
  background: #000;
  width: 16px;
  height: 3.2px;
  top: 14.4px;
}
.arrow:after {
  transform: rotate(44deg);
  left: 3.2px;
}
.arrow:before {
  right: 3.2px;
  transform: rotate(-44deg);
}
.arrow.active:after {
  transform: rotate(-44deg);
}
.arrow.active:before {
  transform: rotate(44deg);
}
 
 </style>
<!--The pull tab used to open and close the sidebar-->
<div class="sidebar-tab" id="sidebar-tab">
    <div class="vertical-text text-center" id="sidebar-tab-text" onclick="toggleSidebar()">THIS IS SIDEBAR<span class="arrow vertical-text"></span></div>
  </div>
  <!--The acutal content of the sidebar-->
  <div class="sidebar" id="sidebar">
    <div class="container-liner">
      <h4> Example Sidebar Content</h4>
      <div> This is an example of some sidebar content! Yay! :D</div>
    </div>
  </div>

      <script>
  
      </script>
 </body>
 </html>